@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto&display=swap');

html {
	
	scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.titles{
    text-align: center;
    font-weight: 700;
    font-size:100px;
    color: #151B54;
    /*animation: titles 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;*/

}
 @-webkit-keyframes titles
{
    0%{
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100%{
        transform: translateY(-50px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #9AFEFF, 0 2px 0 #9AFEFF, 0 3px 0 #9AFEFF, 0 4px 0 #9AFEFF, 0 5px 0 #9AFEFF, 0 6px 0 #9AFEFF, 0 7px 0 #9AFEFF, 0 8px 0 #9AFEFF, 0 9px 0 #9AFEFF, 0 50px 30px rgba(0,0,0,0.6);
    }
}

.brand h1 {
	font-size: 25px;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: cyan;
	
}
.brand a:hover{
	text-decoration: none;
}
/*------------------top section start-------------------------*/
.bgimg{
	width: 100%;
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin: 0px;
	height: 750px;
	
	
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("images/service.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
}
/*-----------------------start header section---------------------*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 10px;
	font-weight: 500;
	/*letter-spacing:20px;*/
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 20px;
	letter-spacing: 25px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: cyan;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
/* End Header section */


/*.headerset{
	padding-top: 250px;
	box-sizing: border-box;
	z-index: 2000;
	
}
.headerset h1{
	font-size: 50px;
	font-weight: bold;
}
.headerset h2{
	font-size: 40px;
}
#headerset::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#headerset .headerset {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#headerset h1 {
	display: block;
	width: fit-content;
	font-size: 20px;
    font-weight: bold;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#headerset h1:nth-child(1) {
	animation-delay: 1s;
}
#headerset h1:nth-child(2) {
	animation-delay: 2s;
}
#headerset h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#headerset h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: cyan;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#headerset h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#headerset h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#headerset h1:nth-child(3) span {
	animation-delay: 2.5s;
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color:cyan;
		font-weight: 500;
	}
}*/
/* End Keyframes */
/*------------------------Heading--------------------------*/
.home{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}
  .title{
	  font-size: 70px;
	  line-height: 100px;
	  font-weight: bold;
	  height: 100px;
	  text-align: left;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  overflow: hidden;
  }
  .home p{
	  margin: 20px auto;
	  font-weight: 100;
	  line-height: 25px;
	  font-size: 25px;
	  font-family: sans-serif;
  }
  button{
	  padding: 15px 25px;
	  margin: 20px;
	  font-size: 16px;
	  letter-spacing: 1px;
	  border: 2px solid cyan;
	  color: #fff;
	  cursor: pointer;
	  background: linear-gradient(to right, transparent 50%, cyan 50%);
      background-size: 200%;
	  background-position: left;
	  transition: background-position 0.5s;
	}
	button a{
		color: white;
		text-decoration: none;
		font-size: 20px;
	}
	button a:hover{
		text-decoration: none;
		color: #000;
	}
	button:hover{
		background-position: right;
		color: #000;
		
	}
	.slider{
		color: cyan;
		margin-left: 12px;
		box-sizing: border-box;
		animation: slider 6s linear infinite;
	}
	@keyframes slider{
		0%{
			margin-top: -200px;
		}
		30%{
			margin-top: -200px;
		}
		35%{
			margin-top: 0px;
		}
		65%{
			margin-top: 0px;
		}
		70%{
			margin-top: 200px;
		}
		100%{
			margin-top: 200px;
		}
	}

/* End top Section */
/*------------------About Us---------------*/

#header3{
    margin-top: 50px;
  }

  #header3 .animated{
      border-radius: 20px;
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
    
    }
  
  
    @-webkit-keyframes up-down{
      0%{
        transform: translateY(10px);
      }
      100%{
        transform: translateY(-10px);
      }
    }
  
    @keyframes up-down{
      0%{
        transform: translateY(10px);
      }
      100%{
        transform: translateY(-10px);
      }
    }
    /*-------------------------End About Us---------------*/
    /*------------------ Services Section----------------- */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
    margin-top: 90px;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
	background:linear-gradient(90deg, #00262F 0%, #065A67 100%);
	opacity: 0.9;
	z-index: -1;
}
.service-item:hover{
	transform: scale(1);
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
.quotes{
	display: flex;
	align-items: center;
	justify-content: center;
}
.blockquote{
	width: 700px;
	/*margin: 10px 30px;*/
	padding: 25px;
	background: #f8fffe;
	/*border: 1px solid #b0d2cb;*/
	border: 1px solid  #151B54; ;
	color: #0b4237;
	box-sizing: border-box;
	
}
.blockquote--bordered{
	border-left-width: 10px;
}

.blockquote_text{
	font-family: 'Gelasio',serif;
	font-style: italic;
	font-size: 1.15em;
	line-height: 1.5;
	margin: 0;
}
.blockquote_text--credit{
	font-weight: bold;
	font-style: normal;
	text-align: right;
}
.blockquote_text--credit::before{
	content: "\2014\0020";
}
/*----------------- End Services Section--------------- */
/*----------------serve----------------------*/
.serve{
	/*margin-top: 380px;
	padding:40px 0px;*/
	height: auto;
	/*position:absolute;
	top: 260%;*/
    margin-top: 80px;
	
      background-color: #D1D0CE;


}
.serve h1{
	font-size: 50px;
	font-weight: bold;
    padding-top: 50px;
	/*position: relative;*/

}

.servesetting{
	margin: 80px 0px !important;
}

.image{
	border-radius: 50%;
	width: 270px;
	height: 270px;
	background-position: center;

	
}
.servesetting h2{
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
}
.servesetting p{
	padding: 10px;
	color: #6c757d!important;
}
/*---------------------------End Serve Section----------------------------*/
/*------------------------- Projects section ----------------------------*/
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
   
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 50px;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 30px;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
.videoplay{
    flex-basis: 50%;
	height: 400px;
	overflow: hidden;
	position: relative;
    
   background-color: black;
  
  
  }
  .videoplay video{
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      /*position: absolute;
      top: 400%;*/
   
      z-index: 1000;
      background: rgba(0,0,0,0.8);
      
  }
/*-------------------------- End Projects section ---------------*/
/*-----------------Contact Us Section Start-------------------*/
#section3{
    width: 100%;
  margin-top: 90px;
    background-image: url("images/recent_work_bg.png");
}
.contact{
	
	height: 700px;
	display: block;

}
.header {
	font-size: 45px;
	margin-bottom: 30px;
	
}
.parent_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group{
	width: 400px;
	
	
	font-size: 19px;
}

.alert{
  

  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}
/*-------------------------End Contact Us Section------------------*/
/*------------------------Footer--------------*/
footer{

	height: auto;
	width: 100%;
	background-color:black;
    /*display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
    color: white;
 

}
.dev{
	color: white;
	text-decoration: none;
}
.dev:hover{
	text-decoration: none;
}
.text-uppercase{
	color: #43C6DB;
}

/*--------------------End Footer Section-----------------------*/
/*---------------------------Media Query Start------------------*/
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 18px;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
		
	}
	.home{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
	}
	  .title{
		  font-size: 70px;
		  line-height: 100px;
		  font-weight: bold;
		  height: 100px;
		 
	  }
	  .home p{
		  margin: 20px auto;
		  font-weight: 100;
		  line-height: 25px;
		  font-size: 25px;
		
	  }
	  button{
		  padding: 15px 25px;
		  margin: 20px;
		  font-size: 16px;
		  letter-spacing: 1px;
		 
		}
		button a{
			font-size: 20px;
		}
		
}
@media(min-width: 1027px) and (max-width: 1199px){
	#services .service-bottom .service-item {
		flex-basis: 30%;
		margin: 1.5%;
		height: 400px;
	}

}
@media(min-width: 992px) and (max-width: 1026px){
    
	.serve{
        height: auto;
    }
	
	.home{
		top: 30%;
	}
	.title{
		font-size: 60px;
	
	
	}
	.home p{
		margin: 20px  auto;
		margin-bottom: 30px;
		font-size: 35px;
		
	}
	button{
		padding: 10px 15px;
		margin: 20px;
		font-size: 20px;
		
	  }
	  button a{
		  font-size: 30px;
	  }
	  #services .service-bottom .service-item {
		flex-basis: 50%;
		margin: 2.5%;
	}
	#header .nav-list ul li a {
		font-size: 35px;
	}
    /*.titles{
        font-size: 20px;
        font-weight: 200;
    }*/
}
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 20px;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	/*#header .nav-list ul li a {
		font-size: 35px;
	}*/
	/* Hero */
	#header h1 {
		font-size: 30px;
	}
	/* End Hero */

	/* Services Section */
	/*#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}*/
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	

	
}
/* End Media Query For Tablet */




@media(min-width: 768px) and (max-width: 991px){
    .serve{
        height: auto;
    }
    .titles{
        font-size: 60px;
        font-weight: 800;
    }
	
	#header .nav-list ul li a {
		font-size: 21px;
	}
	#services .service-bottom .service-item {
		flex-basis: 55%;
		margin: 2.5%;
	}
    
    }
	@media(min-width: 768px) and (max-width: 991px){
       .serve{
           height: auto;
       }
       .titles{
        font-size: 60px;
        font-weight: 800;
    }
	.home{
		top: 55%;
	}
	.title{
		font-size: 45px;
	
		height: 100px;
		
	}
	.home p{
		margin: 0px  auto;
		margin-bottom: 20px;
		font-size: 17px;
		
	}
	button{
		padding: 10px 15px;
		margin: 10px;
		font-size: 13px;
		
	  }
	  #header .nav-list ul li a {
		font-size: 21px;
	}
	.blockquote_text{
		
		font-size: 20px;
		
	}
	.blockquote_text--credit{
		font-size: 15px;
	}
	
	/*#header .nav-list ul li a {
		font-size: 35px;
	}*/
    }
    

@media(min-width: 480px) and (max-width: 574px){
	.bgimg{
		height: 450px;
	}
	#header .nav-list ul li a {
		font-size: 21px;
	}
	.home{
		top: 35%;
	}
	.title{
		font-size: 30px;
	
		height: 50px;
		
	}
	.home p{
		margin: 0px  auto;
		margin-bottom: 20px;
		font-size: 14px;
		
	}
	button{
		padding: 10px 15px;
		margin: 10px;
		font-size: 13px;
		
	  }
    .serve {
        height: auto;
      }
    .serve h1{
        font-size: 25px;
        }
        .titles{
            font-size: 50px;
            font-weight: 800;
        }
		/*#header .nav-list ul li a {
			font-size: 35px;
		}*/
        .blockquote_text{
		
			font-size: 15px;
			
		}
		.blockquote_text--credit{
			font-size: 12px;
		}
		

}
/* End  Media Query For Desktop */
@media only screen and (max-width: 479px){
	.bgimg{
		height: 400px;
	}
	.brand h1{
		font-size: 19px;
	}
	.home{
		top: 35%;
	}
	.title{
		font-size: 30px;
	
		height: 50px;
		
	}
	.home p{
		margin: 0px  auto;
		margin-bottom: 20px;
		font-size: 14px;
		
	}
	button{
		padding: 10px 15px;
		margin: 10px;
		font-size: 13px;
		
	  }
    .serve{
      
        height: auto;
        
        
          background-color: #D1D0CE;
    
    
    }
    .serve h1{
        font-size: 25px;
        }
        .titles{
            font-size: 40px;
            font-weight: 800;
        }
        
        .contact{
	     height: 700px;
             }
        .header{
            font-size: 30px;
        }
        .headers{
            font-size: 25px;
        }
        .form-group{
            width: 250px;
            font-size: 19px;
        }
		#projects .project-info h1 {
			font-size: 30px;
			
		}
		#projects .project-info h2 {
			font-size: 20px;
			
		}
		#header .nav-list ul li a {
			font-size: 20px;
		}
		.blockquote_text{
		
			font-size: 15px;
			
		}
		.blockquote_text--credit{
			font-size: 12px;
		}
		
    
}
@media only screen and (max-width: 318px){
	.brand h1{
		font-size: 14px;
	}
	.home{
		top: 35%;
	}
	.title{
		font-size: 20px;
	
		height: 60px;
		
	}
	.home p{
		margin: 0px  auto;
		margin-bottom: 20px;
		font-size: 11px;
		
	}
	button{
		padding: 10px 15px;
		margin: 10px;
		font-size: 13px;
		
	  }
	  #services .service-item h2 {
		font-size: 14px;
		
	}
	#services .service-item p {
		font-size: 12px;
		
	}
	.blockquote_text{
		
		font-size: 15px;
		
	}
	.blockquote_text--credit{
		font-size: 12px;
	}
	
}